/* .home {
  background-color: var(--dark);
  display: flex;
  color: var(--light);
  justify-content: space-evenly;
  height: 90vh;
}

.h-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-left > img {
  margin-top: 8rem;
  height: 35vw;
}

.h-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.h-right > h1 > span{
    color: red;
    font-size: 3rem;
}

.h-right > h1 {
  margin-left:  4rem ;
}

.arro{
    rotate: 90deg;
}



@media screen and (max-width:840px) {
  .home{
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h-left{
    height: 40vh;
  }
  .h-left > img {
    margin-top: 3rem;
    height: 50vw;
  }
  .h-right {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  .h-right > h1 {
    margin-left:  0rem ;
  }
  
} */

.home{
  height: 91vh;
}

.h-right{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.h-right > h1{
  font-size: 3rem;
  font-weight: rem;
  color: white;
  margin-left: 40px;
}

.h-right > a >button{
  margin-left: 40px;
  width: 100px;
}

@media screen and (max-width:840px) {
  .h-right{
    width: 100%;
  }
   .h-right > h1 {
    
  } 
}